.button {
 /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  transition-duration: 0.4s;
}


.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #6c757d;} /* Black */

.button5:hover{background-color: #33393f;}

.custom-select{
  border-radius: 0;
  width: auto;
  display: inline-block;
  font-size: 16px;
}

.field{
  height: 280px;
}