.button {
 /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  transition-duration: 0.4s;
}


.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #6c757d;} /* Black */

.button5:hover{background-color: #33393f;}

.custom-select{
  border-radius: 0;
  width: auto;
  display: inline-block;
  font-size: 16px;
}
#fname{
  border-radius: 0;
  width: auto;
  font-size: 16px;

}

.field{
  height: 280px;
}

.fa{
  font-size: 2rem;
  margin-right: 10px;
  transition-duration: 0.4s;
  color: #33393f;
}
.fa-thumbs-up:hover{
  color: #0a6d13;
  cursor: pointer;
}

.fa-thumbs-down:hover{
  color: #611207;
  cursor: pointer;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}
textarea#styled {
	
	/* height: 120px; */
	border: 3px solid #cccccc;
	padding: 25px;
  
	font-family: Tahoma, sans-serif;
  background-color: #282d31;
	background-position: bottom right;
  color: white;
	background-repeat: no-repeat;
}